<nav class="nav clearfix">
	<div class="nav-logo">
		<a href="https://liginc.co.jp" target="_blank">
		<svg class="nav-logo-svg" role="img" viewBox="0 0 270.5 85" width="57" height="18" x="0" y="0" style="enable-background:new 0 0 270.5 85;">
			<title>LIG</title>
			<use xlink:href="#lig-logo"></use>
		</svg>
		</a>
	</div>
	<div class="nav-content">
		<ul class="nav-list">
			<li class="nav-item">
				<a class="nav-link js-scroll" href="#js-section-message">
					<svg class="nav-message" role="img" viewBox="0 0 144 23" width="72" height="12" x="0" y="0" style="enable-background:new 0 0 144 23;">
						<title>Message</title>
						<use xlink:href="#nav-message"></use>
					</svg>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link js-scroll" href="#js-section-overview">
					<svg class="nav-overview" role="img" viewBox="0 0 172 23" width="86" height="12" x="0" y="0" style="enable-background:new 0 0 172 23;">
						<title>Overview</title>
						<use xlink:href="#nav-overview"></use>
					</svg>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link js-scroll" href="#js-section-job">
					<svg class="nav-job" role="img" viewBox="0 0 58 30" width="29" height="15" x="0" y="0" style="enable-background:new 0 0 58 30;">
						<title>Job</title>
						<use xlink:href="#nav-job"></use>
					</svg>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link js-scroll" href="#js-section-member">
					<svg class="nav-member" role="img" viewBox="0 0 142 23" width="73" height="12" x="0" y="0" style="enable-background:new 0 0 142 23;">
						<title>Member</title>
						<use xlink:href="#nav-member"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</nav>