<div class="l-hero">
	<div class="hero">
		<div class="hero-wrap">
			<h1 class="hero-title">
				<svg class="hero-title-svg" role="img" viewBox="0 0 1150 212" width="572" height="106" x="0" y="0" style="enable-background:new 0 0 1150 212;">
					<title>STAND BY ME 全国会社説明ツアー2018 | LIG Inc.</title>
					<use xlink:href="#hero-title"></use>
				</svg>
			</h1>
		</div>
		<div class="hero-model">
			<img class="hero-model-image" src="./assets/images/hero-model.png" alt="">
		</div>
	</div>
</div>