<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>STAND BY ME 全国会社説明ツアー2018 | LIG Inc.</title>
  <meta name="description" content="この度LIGは全国を回る会社説明会を行うことにしました！ 社長の吉原ゴウが、皆さんに会いに行きます。まずは、どんな会社なのかを見に来てください。 大人になった今だからこそ、純粋に、LIFE IS GOODに向かって旅をしませんか？">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:title" content="STAND BY ME 全国会社説明ツアー2018 | LIG Inc.">
  <meta property="og:description" content="この度LIGは全国を回る会社説明会を行うことにしました！ 社長の吉原ゴウが、皆さんに会いに行きます。まずは、どんな会社なのかを見に来てください。 大人になった今だからこそ、純粋に、LIFE IS GOODに向かって旅をしませんか？">
  <meta property="og:url" content="https://liginc.co.jp/stand-by-me/">
  <meta property="og:site_name" content="東京上野のWeb制作会社LIG">
  <meta property="og:type" content="article">
  <meta property="og:image" content="https://liginc.co.jp/stand-by-me/assets/images/common/logo_ogp.png">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="この度LIGは全国を回る会社説明会を行うことにしました！ 社長の吉原ゴウが、皆さんに会いに行きます。まずは、どんな会社なのかを見に来てください。 大人になった今だからこそ、純粋に、LIFE IS GOODに向かって旅をしませんか？">
  <meta name="twitter:title" content="STAND BY ME 全国会社説明ツアー2018 | LIG Inc.">
  <meta name="twitter:site" content="@LIG_J" />
  <meta name="twitter:image" content="https://liginc.co.jp/stand-by-me/assets/images/common/logo_ogp.png" />
  <meta name="twitter:creator" content="@LIG_J" />

  <link rel="shortcut icon" href="https://liginc.co.jp/wp-content/themes/ligtheme/assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="https://liginc.co.jp/wp-content/themes/ligtheme/assets/images/webclip.jpg">

  <link rel="stylesheet" href="assets/css/style.css">

  <script> document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
       new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
     '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-PSHJDH');</script>
  <!-- End Google Tag Manager -->

  <!-- PTEngine --><script type="text/javascript">
   window._pt_sp_2 = [];
   _pt_sp_2.push('setAccount,10093f6f');
   var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
   (function() {
     var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
     atag.src = _protocol + 'jsv2.ptengine.jp/pta.js';
     var stag = document.createElement('script'); stag.type = 'text/javascript'; stag.async = true;
     stag.src = _protocol + 'jsv2.ptengine.jp/pts.js';
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(atag, s);s.parentNode.insertBefore(stag, s);
   })();
  </script>
  <!-- End PTEngine --> 

</head>
<body>
